<html>
    <body>
        <div class="row" th:fragment="home">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body request-panel">  
                            <h3>Your requests</h3> 
                            <br/>
                            <div class="table-responsive">
                                <table class="table table-striped table-short table-hover">
                                    <thead>
                                        <tr>
                                            <th>Request no.</th>
                                            <th>Type</th>
                                            <th>Department</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="clickable-row" th:each="request: ${requestList}"
                                            th:attr="data-href=@{'/' + ${#authentication.name} +'/request/' + ${request.requestId}}">
                                            <td th:text="${request.requestId}"></td>
                                            <td th:text="${request.docType.name}"></td>
                                            <td th:text="${request.department.name}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel-footer request-panel-footer">More</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body request-panel">  
                            <h3>Requests to proceed</h3> 
                            <br/>
                            <div class="table-responsive">
                                <table class="table table-striped table-short table-hover">
                                    <thead>
                                        <tr>
                                            <th>Request no.</th>
                                            <th>Type</th>
                                            <th>Department</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="clickable-row" th:each="request: ${proceedList}"
                                            th:attr="data-href=@{'/' + ${#authentication.name} +'/request/proceed/' + ${request.requestId}}">
                                            <td th:text="${request.requestId}"></td>
                                            <td th:text="${request.docType.name}"></td>
                                            <td th:text="${request.department.name}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel-footer request-panel-footer">More</div>
                    </div>
                </div>
            </div>
    </body>
</html>