<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class = "newRequest" th:fragment="newrequest">
            <h2>Nowe zgłoszenie</h2>
            <form th:action="@{/request/new}" th:object="${requestForm}" method="post">
                <label for="department">Department:</label>
                <div class ="selectBox">
                    <select class="form-control" id="documentType" th:field="*{department}" th:remove="all-but-first">
                        <option th:each="dep : ${depList}" th:value = "${dep.name}"
                                th:text="${dep.name}">Document Type</option>
                    </select>
                    <label for="documentType">Document Type:</label>
                    <select class="form-control" id="documentType" th:field="*{docType}" th:remove="all-but-first">
                        <option th:each="doc : ${docList}" th:value = "${doc.name}"
                                th:text="${doc.name}">Document Type</option>
                    </select>
                </div>
                <label for="documentContent">Content:</label>
                <textarea class="form-control noresize" th:field ="*{content}"
                          rows="10" id="documentContent"></textarea>
                <br></br>
                <button type="submit" class="btn btn-default">Send</button>
            </form>
        </div>
    </body>
</html>
