<html>
    <body>
        <div class="well" th:fragment="request-list(requestList, tableName)">
            <div class="pull-right">
                <a href="" data-toggle="tooltip" title="You can click on table row to get request details!" id="tip">
                    <span class="glyphicon glyphicon-question-sign" style="font-size: 25px;"></span>
                </a>
            </div>
            <h3 th:text = "${tableName}"></h3>
            <br/>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Department</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class='clickable-row' th:each="req: ${requestList}"
                            th:attr="data-href=@{'/' + ${#authentication.name} +'/request/' + ${req.requestId}}">
                            <td th:text = "${req.requestId}"></td>
                            <td th:text = "${req.docType.name}"></td>
                            <td th:text = "${req.statusId}"></td>
                            <td th:text = "${req.department.name}"></td>
                            <td th:text = "${req.modifiedFlag}"></td>
                        </tr>
                    </tbody>

                    <!-- IF NOT OWNER THEN FORM -->
                </table>
            </div>
        </div> 
    </body>
</html>