<!DOCTYPE html>
<html>
    <body>
        <div class="well" th:fragment="request-details(elementName)">
            <h3>Request state</h3>
            <div class="row bs-wizard center-block" style="border-bottom:0;">
                <div class="col-xs-1 bs-wizard-step disabled" th:each="trans: ${transactionList}">
                    <div class="text-center bs-wizard-stepnum" th:text="${trans.name}">Step 1</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>
            </div>
            <p hidden="" id = "just-for-testing" th:text="${currentState != null} ? ${currentState.transaction.name}"></p>
            <br/><br/>
            <h3>Request details</h3>
            <form class="form-horizontal" th:object="${request}">
                <div class="form-group">
                    <label class="control-label col-sm-6">Request no.:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static" th:text="${request.requestId}">3</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6">Document Type:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static" th:text="${request.docType.name}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6">Target department:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static" th:text="${request.department.name}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6">Current status:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static" th:text="${request.statusId}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6">Modified:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static" th:text="${request.modifiedFlag}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6">Feedback:</label>
                    <div class="col-sm-4">
                        <p class="form-control-static" th:text="${request.feedback}">
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6">Content:</label>
                    <div class="col-sm-4">
                        <p class="form-control-static" th:text="${request.content}">
                        </p>
                    </div>
                </div>
            </form>
             <div th:replace="@{'/fragments/' + ${elementName}}"></div>
        </div>
    </body>
</html>