<!DOCTYPE html>
<html>
    <body>
        <div class="col-sm-2 sidenav hidden-xs" th:fragment="side-bar">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#" data-toggle="collapse" data-target="#test">Profil</a></li>
                <ul class="nav nav-list collapse" id="test">
                    <li><a th:href="@{'/user/' + ${#authentication.name}}">Dane</a></li>
                    <li><a href="#">Zatrudnienie</a></li>
                </ul>
            </ul>
            <br/>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#" data-toggle="collapse" data-target="#test1">Dokumenty</a></li>
                <ul class="nav nav-list collapse" id="test1">
                    <li><a th:href="@{'/' + ${#authentication.name} +'/request/'}">Twoje dokumenty</a></li>
                    <li><a th:href="@{'/' + ${#authentication.name} +'/request/proceed'}">Do zatwierdzenia</a></li>
                    <li><a th:href="@{'/' + ${#authentication.name} +'/request/new'}">Nowe zgłoszenie</a></li>
                    <li><a href="#">Historia zgłoszeń</a></li>
                </ul>
            </ul>
        </div>
    </body>
</html>
