<!DOCTYPE html>
<html>
    <body>
        <div class="col-sm-2 sidenav hidden-xs" th:fragment="side-bar">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#" data-toggle="collapse" data-target="#profile-menu" id="profile-menu-button">Profile</a></li>
                <ul class="nav nav-pills nav-stacked collapse center-block" style="margin-top: 10px; width:80%;"  id="profile-menu">
                    <li><a th:href="@{'/user/' + ${#authentication.name}}">Details</a></li>
                    <li><a th:href="@{'/' + ${#authentication.name} +'/role/'}">Employment</a></li>
                </ul>
            </ul>
            <br/>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#" data-toggle="collapse" data-target="#request-menu" id="request-menu-button">Documents</a></li>
                <ul class="nav nav-pills nav-stacked collapse center-block" style="margin-top: 10px; width:80%;" id="request-menu">
                    <li><a th:href="@{'/' + ${#authentication.name} +'/request/'}">Your requests</a></li>
                    <li><a th:href="@{'/' + ${#authentication.name} +'/request/proceed'}">To proceed</a></li>
                    <li><a th:href="@{'/' + ${#authentication.name} +'/request/new'}">New request</a></li>
                    <li><a th:href="@{'/path/'}">New path</a></li>
                    <li><a th:href="@{'/path/all'}">List path</a></li>
                </ul>
            </ul>
        </div>
    </body>
</html>
