<!DOCTYPE html>
<html>
    <body>
        <div class="well" th:fragment="user-details">
            <h3>User details</h3>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-lg-2 control-label">First name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" value="Jane"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Last name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" value="Bishop"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" value="janesemail@gmail.com"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Username:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" value="janeuser"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
            <h3>Password rest</h3>
            <form class="form-horizontal" role="form" method="post" th:action="@{'/user/' + ${#authentication.name} +'/password/edit'}"
                  th:object="${passwordChange}">
                <div class="form-group">
                    <label class="col-md-2 control-label">Old password:</label>
                    <div class="col-md-8">
                        <input class="form-control" th:field="*{oldPassword}" type="password" value="xxxxxxxx"/>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Password:</label>
                    <div class="col-md-8">
                        <input class="form-control" th:field="*{newPassword}" type="password"/>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Confirm password:</label>
                    <div class="col-md-8">
                        <input class="form-control" th:field="*{repeatedPassword}" type="password"/>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('repeatedPassword')}" th:errors="*{repeatedPassword}"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>