<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Document Flow</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div th:replace="fragments/nav-bar-xs :: xs-nav"></div>
        <div class="container-fluid">
            <div th:replace="fragments/side-bar :: side-bar"></div>
            <div class="row content">
                <div class="col-sm-9">
                    <div th:replace="/fragments/request-details :: request-details"></div>
                </div>
            </div>
        </div>
        <!--
                <div class = "mid">
                    <div th:replace="fragments/sidebar :: sidebar"></div>
                    <div class = "content">
                        <div th:replace="fragments/requestShort :: shortRequest(${requestList}, 'Twoje zgłoszenia')"></div>
                        <div th:replace="fragments/requestShort :: shortRequest(${procedList}, 'Do zatwierdzenia')"></div>
                    </div>
                </div>   
        -->
    </body>
</html>